# ARM Quantitative Group project - Autoscout24, Audi A4

Deadline: 12.01.2025, 23.59 Uhr

Unsere Gedanken: Besteht eine Abhängigkeit zwischen dem Antrieb (Allrad, Vorderradantrieb) und dem Preis.

## Libraries and settings

In [50]:
# Libraries
import os
import sqlite3
import fnmatch
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Show current working directory
print(os.getcwd())


# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/project_arm_autoscout_audia1
/workspaces/project_arm_autoscout_audia1

## Import data

In [51]:
## Read data
df = pd.read_csv("./data/as24_a4.csv", sep=",")
df.head()

# Show column names from df
print(df.columns)

# define the columns to keep
colums = ['web-scraper-order',
          'title_raw',
        'price_raw', 
        'mileage_raw',
        'drive_raw',
       'cartype_raw',
       'fuel_raw',
       'ps_raw',
       'fuel_consumption_raw',
       'seller_raw',
       'selleraddress_raw',]

# keep only the columns we are interested in
df = df[colums]

# Show first records of data frame
df.head()

Index(['web-scraper-order', 'web-scraper-start-url', 'as24_a1', 'as24_a1-href',
       'title_raw', 'short_description_raw', 'price_raw', 'car_data_raw',
       'first_release_raw', 'mileage_raw', 'transmission_raw', 'drive_raw',
       'cartype_raw', 'fuel_raw', 'ps_raw', 'fuel_consumption_raw',
       'motor_vehicle_inspection_raw', 'accidentcar_raw', 'guarantee_raw',
       'car_description_raw', 'equipment_raw', 'seller_raw',
       'selleraddress_raw', 'sellerwebsite_raw', 'seller_phonenumber_raw'],
      dtype='object')

,web-scraper-order,title_raw,price_raw,mileage_raw,drive_raw,cartype_raw,fuel_raw,ps_raw,fuel_consumption_raw,seller_raw,selleraddress_raw
0,1734006862-1,AUDI A4 Avant 40 TDI quattro S-tronic,CHF 21'999.–,136'000 km,Allrad,Kombi,Diesel,190 PS (140 kW),6.1 l/100 km,uniAuto AG,"Moosburgstrasse 12, 9200 Gossau"
1,1734006865-2,AUDI A4 Avant 1.4 TFSI Sport S-Tronic,CHF 21'990.–,79'116 km,Vorderradantrieb,Kombi,Benzin,150 PS (110 kW),5.5 l/100 km,Allenmoos Garage GmbH,"Hofwiesenstrasse 268, 8050 Zürich"
2,1734006867-3,AUDI A4 Cabriolet 1.8 Turbo,CHF 7'900.–,100'000 km,Vorderradantrieb,Cabriolet,Benzin,163 PS (120 kW),8.7 l/100 km,Bruno Keller,"Ueberlandstr. 34, 8051 Zürich/ Schwamendingen"
3,1734006869-4,AUDI A4 Avant 2.0 TDI Sport quattro S-tronic,CHF 13'900.–,218'000 km,Allrad,Kombi,Diesel,190 PS (140 kW),4.5 l/100 km,PTE GmbH,"Seetalstrasse 44, 6020 Emmenbrücke"
4,1734006872-5,AUDI A4 Avant 40 TDI Sport quattro S-tronic,CHF 27'800.–,107'000 km,Allrad,Kombi,Diesel,190 PS (140 kW),5 l/100 km,Garage Gfeller GmbH,"Unterdorf 1, 8261 Hemishofen"

### 2. Data Preparation

2.1 Count and identify missing values and remove them: 
- Vorlesungunterlagen SWxxx, Slide XXX
- Exercises SW2, Task 2

2.2 Cound and identify duplicates and remove them:
- Vorlesungunterlagen SWxxx, Slide XXX
- Exercises SW2, Task 2

2.3 Create new variables
- Vorlesungunterlagen SWxxx, Slide XXX
- Exercises SW3, Task 1

2.4 Enrich the data with open data
- Vorlesungunterlagen SWxxx, Slide XXX
- Exercises SWxxx, Task xxx


2. Datenaufbereitung (z. B. Umgang mit fehlenden Werten, Duplikaten etc.):
Zu finden in Woche 02, Aufgabe 2:
- Übungen zur Prüfung und Bereinigung von Daten auf fehlende oder doppelte Werte.

### 2.1 Count numbers of rows and columns

In [52]:
# Dimension (rows, columns)
print('Dimension:', df.shape)

# Number of rows
print('Number of rows:', df.shape[0])

# Number of columns
print('Number of columns:', df.shape[1])

Dimension: (409, 11)
Number of rows: 409
Number of columns: 11

### 2.2 Get data types (raw-format from web scraping)

In [53]:
# Get data types (note that in pandas, a string is referred to as 'object')
df.dtypes

web-scraper-order       object
title_raw               object
price_raw               object
mileage_raw             object
drive_raw               object
cartype_raw             object
fuel_raw                object
ps_raw                  object
fuel_consumption_raw    object
seller_raw              object
selleraddress_raw       object
dtype: object

### 2.3 Extract & save relevant information from raw data using regular expressions (regex)

Extract model of A4

In [54]:
# Extract values from "title_raw" strings
model = []
for i in df['title_raw']:
    # remove "AUDI A4"
    cleaned_str = re.sub(r'AUDI A4', '', i).strip()
    model.append(cleaned_str)

# Save as new variable in the pandas data frame
df['model'] = pd.Series(model)

# Print the first 5 values
print(df['title_raw'].head(5), '\n')
print(df['model'].head(5))

0           AUDI A4 Avant 40 TDI quattro S-tronic
1           AUDI A4 Avant 1.4 TFSI Sport S-Tronic
2                     AUDI A4 Cabriolet 1.8 Turbo
3    AUDI A4 Avant 2.0 TDI Sport quattro S-tronic
4     AUDI A4 Avant 40 TDI Sport quattro S-tronic
Name: title_raw, dtype: object

0           Avant 40 TDI quattro S-tronic
1           Avant 1.4 TFSI Sport S-Tronic
2                     Cabriolet 1.8 Turbo
3    Avant 2.0 TDI Sport quattro S-tronic
4     Avant 40 TDI Sport quattro S-tronic
Name: model, dtype: object

Extract price

In [55]:
# Extract values from 'price_raw' strings
price = []
for i in df['price_raw']:
    # Remove "CHF" and ".-" and extract numbers
    d1 = re.findall('[0-9\']+', i.replace("CHF", "").replace(".-", ""))
    try:
        d2 = d1[0].replace("'", "")  # remove thousands separator
        d2 = int(d2)  # convert to integer
    except:
        d2 = None
    price.append(d2)

# Save as new variable in the pandas data frame
df['price'] = pd.Series(price, dtype="Int64")

# Print first 5 values
print(df['price_raw'].head(5), '\n')
print(df['price'].head(5))

0    CHF 21'999.–
1    CHF 21'990.–
2     CHF 7'900.–
3    CHF 13'900.–
4    CHF 27'800.–
Name: price_raw, dtype: object

0    21999
1    21990
2     7900
3    13900
4    27800
Name: price, dtype: Int64

Extract mileage

In [56]:
# Extract values from 'mileage_raw' strings
mileage = []
for i in df['mileage_raw']:
    # Remove "km" and extract numbers
    d1 = re.findall('[0-9\']+', i.replace("km", ""))
    try:
        d2 = d1[0].replace("'", "")  # remove thousands separator
        d2 = int(d2)  # convert to integer
    except:
        d2 = None
    mileage.append(d2)

# Save as new variable in the pandas data frame
df['mileage'] = pd.Series(mileage, dtype="Int64")

# Print first 5 values
print(df['mileage_raw'].head(5), '\n')
print(df['mileage'].head(5))

0    136'000 km
1     79'116 km
2    100'000 km
3    218'000 km
4    107'000 km
Name: mileage_raw, dtype: object

0    136000
1     79116
2    100000
3    218000
4    107000
Name: mileage, dtype: Int64

Extract fuel consumption

In [57]:
# Extract values from 'fuel_consumption_raw' strings
fuel_consumption = []
for i in df['fuel_consumption_raw']:
    # remove "l/100km" and extract numbers
    cleaned_str = re.sub(r'l/100 km', '', i).strip()
    try:
        fuel_value = float(cleaned_str)  # convert to float
    except:
        fuel_value = None
    fuel_consumption.append(fuel_value)

# Save as new variable in the pandas data frame
df['fuel_consumption'] = pd.Series(fuel_consumption)

# Print first 5 values
print(df['fuel_consumption_raw'].head(5), '\n')
print(df['fuel_consumption'].head(5))

0    6.1 l/100 km
1    5.5 l/100 km
2    8.7 l/100 km
3    4.5 l/100 km
4      5 l/100 km
Name: fuel_consumption_raw, dtype: object

0    6.1
1    5.5
2    8.7
3    4.5
4    5.0
Name: fuel_consumption, dtype: float64

Extract PS

In [58]:
# Extract values from 'ps_raw' strings
ps = []
for i in df['ps_raw']:
    # Remove "PS" und "(xx kW)" und extract numbers
    cleaned_str = re.sub(r'\(.*?\)', '', i).replace("PS", "").strip()
    d1 = re.findall('[0-9\']+', cleaned_str)
    try:
        ps_value = int(cleaned_str)  # convert to integer
    except:
        d2 = None
    ps.append(ps_value)

# Save as new variable in the pandas data frame
df['ps'] = pd.Series(ps, dtype="Int64")

# Print first 5 values
print(df['ps_raw'].head(5), '\n')
print(df['ps'].head(5))

0    190 PS (140 kW)
1    150 PS (110 kW)
2    163 PS (120 kW)
3    190 PS (140 kW)
4    190 PS (140 kW)
Name: ps_raw, dtype: object

0    190
1    150
2    163
3    190
4    190
Name: ps, dtype: Int64

Get data types of all variables including the new ones

In [59]:
df.dtypes

web-scraper-order        object
title_raw                object
price_raw                object
mileage_raw              object
drive_raw                object
cartype_raw              object
fuel_raw                 object
ps_raw                   object
fuel_consumption_raw     object
seller_raw               object
selleraddress_raw        object
model                    object
price                     Int64
mileage                   Int64
fuel_consumption        float64
ps                        Int64
dtype: object

### 2.4 Count and identify missing values (if any)

In [60]:
# Count missing values
print(pd.isna(df).sum())

# Identify rows with missing values
df[df.isna().any(axis=1)].head()

web-scraper-order        0
title_raw                0
price_raw                0
mileage_raw              0
drive_raw                0
cartype_raw              0
fuel_raw                 0
ps_raw                   0
fuel_consumption_raw     0
seller_raw               0
selleraddress_raw        0
model                    0
price                    0
mileage                  0
fuel_consumption        49
ps                       0
dtype: int64

,web-scraper-order,title_raw,price_raw,mileage_raw,drive_raw,cartype_raw,fuel_raw,ps_raw,fuel_consumption_raw,seller_raw,selleraddress_raw,model,price,mileage,fuel_consumption,ps
7,1734006879-8,"AUDI Avant ,8 tfsi",CHF 3'490.–,220'946 km,-,Kombi,Benzin,-,-,DADA Einkauf und Verkauf,"UEBERLANDSTRASSE 100A, 8103 unterengstringen (...","AUDI Avant ,8 tfsi",3490,220946,NaN,200
13,1734006899-14,AUDI A4 45 TFSI S line S-tronic quattro,CHF 39'900.–,900 km,Allrad,Limousine,Benzin,265 PS (195 kW),-,Piena Corsa Auto AG,"Schönbühlstrasse 14, 8635 Dürnten",45 TFSI S line S-tronic quattro,39900,900,NaN,265
16,1734006906-17,AUDI 1.8T,CHF 1'800.–,222'992 km,-,Cabriolet,Benzin,-,-,A. Zaidan Automobile GmbH,"Gewerbestrasse 14 - Birchweg 26, 8200 Schaffha...",AUDI 1.8T,1800,222992,NaN,163
34,1734006950-35,AUDI A4 2.8 quattro,CHF 2'900.–,230'000 km,Allrad,Limousine,Benzin,174 PS (128 kW),-,AAA Autohandel Grosu,"Hauptstrasse 51, 6418 6418 Rothenthurm",2.8 quattro,2900,230000,NaN,174
74,1734007053-75,AUDI A4 2.0,CHF 1'900.–,122'587 km,-,Limousine,Benzin,-,-,Signal Automobile GmbH,"Riedackerweg 14, 8107 Buchs ZH",2.0,1900,122587,NaN,204

### 2.5 Count and identify duplicate values

In [61]:
# # Count duplicated values
print(df.duplicated().sum())

# Identify rows with duplicated values, e.g.:
#df[df[['web-scraper-order', 'price_raw', 'address_raw']].duplicated()]

0

### 2.6 Create additional variables

Create new binary (0/1) variable "Sportcar" from the title

In [68]:
# Create a pattern which can be used to search the variable 'title_raw
pattern = 'S-tronic|S-Tronic|Turbo|Sport|S line|S-line|Sline|S-Line'

# Create new variable 'Sportcar' as binary dummy (0/1) variable
df['sportcar'] = df['title_raw'].str.contains(pat = pattern).astype(int)
print(df['sportcar'].sum())

# Show values
df[['title_raw','sportcar']]

273

                                             title_raw  sportcar
0                AUDI A4 Avant 40 TDI quattro S-tronic         1
1                AUDI A4 Avant 1.4 TFSI Sport S-Tronic         1
2                          AUDI A4 Cabriolet 1.8 Turbo         1
3         AUDI A4 Avant 2.0 TDI Sport quattro S-tronic         1
4          AUDI A4 Avant 40 TDI Sport quattro S-tronic         1
..                                                 ...       ...
404      AUDI A4 Avant 40 TFSI S line S-tronic quattro         1
405      AUDI A4 Avant 40 TFSI S line S-tronic quattro         1
406  AUDI A4 Avant 3.0 V6 50 TDI S line quattro tip...         1
407                       AUDI A4 1.8 TFSI multitronic         0
408  AUDI A4 40 TDI S-line quattro Sports Edition 4...         1

[409 rows x 2 columns]

Create new categorical variable for mileage

In [83]:
# Define classes (labels)
labels = ['0 - 49999', '50000 - 990000', '100000 - 149999', '150000-199999', '200000-249999', '250000-299999', '300000-349999', '350000-399999', '400000-449999', '450000-499999']

# Use the .cut method from pandas to divide the numeric values in classes
df["mileage_cat"] = pd.cut(df['mileage'], bins=[0, 50000, 100000, 150000, 200000, 250000, 300000, 350000, 400000, 450000, 500000], labels=labels)

# Show original data and classes
print(df[['mileage', 'mileage_cat']])

# Count the frequency of each class and sort them
df['mileage_cat'].value_counts().sort_index()

     mileage      mileage_cat
0     136000  100000 - 149999
1      79116   50000 - 990000
2     100000   50000 - 990000
3     218000    200000-249999
4     107000  100000 - 149999
..       ...              ...
404       20        0 - 49999
405       10        0 - 49999
406   119000  100000 - 149999
407   121700  100000 - 149999
408    18900        0 - 49999

[409 rows x 2 columns]

mileage_cat
0 - 49999          89
50000 - 990000     83
100000 - 149999    84
150000-199999      73
200000-249999      42
250000-299999      22
300000-349999      10
350000-399999       3
400000-449999       3
450000-499999       0
Name: count, dtype: int64

Create new categorical variable for PS

In [81]:
# Define classes (labels)
labels = ['0 - 0.99', '50-99', '100-149', '150-199', '200-249', '250-299']

# Use the .cut method from pandas to divide the numeric values in classes
df["ps_cat"] = pd.cut(df['ps'], bins=[0, 50, 100, 150, 200, 250, 300], labels=labels)

# Show original data and classes
print(df[['ps', 'ps_cat']])

# Count the frequency of each class and sort them
df['ps_cat'].value_counts().sort_index()

      ps   ps_cat
0    190  150-199
1    150  100-149
2    163  150-199
3    190  150-199
4    190  150-199
..   ...      ...
404  204  200-249
405  204  200-249
406  286  250-299
407  160  150-199
408  204  200-249

[409 rows x 2 columns]

ps_cat
0 - 0.99      0
50-99         0
100-149      60
150-199     168
200-249     123
250-299      58
Name: count, dtype: int64

Create new categorical variable for fuel_consumption

In [80]:
# Define classes (labels)
labels = ['0.00 - 0.99', '1.00-1.99', '2.00-2.99', '3.00-3.99', '4.00-4.99', '5.00-5.99', '6.00-6.99', '7.00-7.99', '8.00-8.99', '9.00-9.99', '10.00-10.99', '11.00-11.99']

# Use the .cut method from pandas to divide the numeric values in classes
df["fuel_consumption_cat"] = pd.cut(df['fuel_consumption'], bins=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], labels=labels)

# Show original data and classes
print(df[['fuel_consumption', 'fuel_consumption_cat']])

# Count the frequency of each class and sort them
df['fuel_consumption_cat'].value_counts().sort_index()

     fuel_consumption fuel_consumption_cat
0                 6.1            6.00-6.99
1                 5.5            5.00-5.99
2                 8.7            8.00-8.99
3                 4.5            4.00-4.99
4                 5.0            4.00-4.99
..                ...                  ...
404               NaN                  NaN
405               NaN                  NaN
406               NaN                  NaN
407               7.2            7.00-7.99
408               NaN                  NaN

[409 rows x 2 columns]

fuel_consumption_cat
0.00 - 0.99     0
1.00-1.99       0
2.00-2.99       0
3.00-3.99       3
4.00-4.99      68
5.00-5.99      95
6.00-6.99      72
7.00-7.99      57
8.00-8.99      32
9.00-9.99      23
10.00-10.99     8
11.00-11.99     2
Name: count, dtype: int64

Create new categorical variable for price

In [77]:
# Define classes (labels)
labels = ['0 - 9999', '10000-19999', '20000-29999', '30000-39999', '40000-49999', '50000-59999', '60000-69999', '70000-79999', '80000-89999']

# Use the .cut method from pandas to divide the numeric values in classes
df["price_cat"] = pd.cut(df['price'], bins=[0, 10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000], labels=labels)

# Show original data and classes
print(df[['price', 'price_cat']])

# Count the frequency of each class and sort them
df['price_cat'].value_counts().sort_index()

     price    price_cat
0    21999  20000-29999
1    21990  20000-29999
2     7900     0 - 9999
3    13900  10000-19999
4    27800  20000-29999
..     ...          ...
404  47990  40000-49999
405  47990  40000-49999
406  31990  30000-39999
407   9599     0 - 9999
408  39900  30000-39999

[409 rows x 2 columns]

price_cat
0 - 9999       128
10000-19999     89
20000-29999     97
30000-39999     46
40000-49999     29
50000-59999     13
60000-69999      4
70000-79999      3
80000-89999      0
Name: count, dtype: int64

EVTL: Count, identify & remove missing values

In [ ]:
# Count missing values
print('Count missing values per variable')
print(pd.isna(df).sum(), '\n')

# Identify rows with missing values
print('Identify rows with missing values')
print(df.loc[df.isna().any(axis=1)][['rooms', 'area', 'price']], '\n')

# Drop rows where at least one element is missing.
df2 = df.dropna()
df2.head()

Save data to file

In [65]:
df.to_csv('./data/as24_a4.csv', 
          sep=",", 
          encoding='utf-8',
          index=False)

Creating a dictionary with e.g. price, antrieb, ps etc.

In [ ]:
# Creating a Python dictionary with data
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [24, 27, 22, 32],
    "City": ["New York", "San Francisco", "Los Angeles", "Chicago"]
}

# Converting the dictionary to a DataFrame
df = pd.DataFrame(data)
df

### 3. Data Storage

3.1 In a database like MySQL or PostgreSQL
- Vorlesungunterlagen SWxxx, Slide XXX
- Exercises SW 2, Task 4

3. Speicherung der Daten in Datenbanken wie SQLite, MySQL oder PostgreSQL:
Zu finden in Woche 02, Aufgabe 4:
- Speicherung und Abfrage von Daten in einer Datenbank mithilfe des Jupyter-Notebooks
`apartments_database_Python.ipynb`.

Create sqlite data base

In [23]:
# Create data base
conn = sqlite3.connect('as24_a4.db') 

# Create cursor object to execute SQL commands
cursor = conn.cursor()

# Show dbs in the directory
flist = fnmatch.filter(os.listdir('.'), '*.db')
for i in flist:
    print(i)

as24_a4.db

Close db connection (if open)

In [25]:
# Close db connection (if open)
try:
    if check_conn(conn):
        conn.close()
    else:
        pass
except:
    pass

# Status (True = open, False = closed)
print(check_conn(conn))

False

### 4. Exploratory data analysis (EDA)

4.1 Rich non-graphical and graphical exploratory data analysis (EDA)
- Vorlesungunterlagen SWxxx, Slide XXX
- Exercises SW3, Task 3
- Exercises SW 4, Task 3, 4


4. Explorative Datenanalyse (EDA):
Zu finden in Woche 04, Aufgabe 2:
- Identifikation und Entfernung von Ausreißern sowie Visualisierung von Statistiken und
Verteilungen.

Zu finden in Woche 05, Aufgabe 1:
- Nutzung von Python für grundlegende GIS-Funktionen und die Analyse räumlicher Daten.

Creating multiplots with .subplots()

In [ ]:
 # Define 2x2 subplots and whether x- and y-axes should be shared
fig, ax = plt.subplots(2, 2, figsize=(7,4), sharex=True, sharey=True)

ax[0, 0].scatter(x, y, s=100, marker='o', color='orangered') # row=0, col=0
ax[1, 0].scatter(x, z, s=100, marker='+', color='blue') # row=1, col=0
ax[0, 1].scatter(x, g, s=100, marker='*', color='deepskyblue') # row=0, col=1
ax[1, 1].scatter(x, e, s=100, marker='^', color='orange') # row=1, col=1

# Adding title
ax[0, 0].set_title('Figure at [0, 0]', fontsize = 12)
ax[1, 0].set_title('Figure at [1, 0]', fontsize = 12)
ax[0, 1].set_title('Figure at [0, 1]', fontsize = 12)
ax[1, 1].set_title('Figure at [1, 1]', fontsize = 12)

# Adding x-labels
ax[0, 0].set_xlabel('', fontsize = 10)
ax[1, 0].set_xlabel('x-label', fontsize = 10)
ax[0, 1].set_xlabel('', fontsize = 10)
ax[1, 1].set_xlabel('x-label', fontsize = 10)

# Adding y-labels
ax[0, 0].set_ylabel('n-label', fontsize = 10)
ax[1, 0].set_ylabel('y-label', fontsize = 10)
ax[0, 1].set_ylabel('', fontsize = 10)
ax[1, 1].set_ylabel('', fontsize = 10)

# Set the spacing between subplots
plt.subplots_adjust(left=0.1,
                    bottom=0.1, 
                    right=0.9, 
                    top=0.9, 
                    wspace=0.4, 
                    hspace=0.4)

plt.show()

### 5. Modeling Method

5.1 Use of multiple linear regression, regression tree or random forest regression as the modeling method
- Vorlesungunterlagen SWxxx, Slide XXX
- Exercises SW6, Task 2-5
- Exercises SW7, Task 1-2

5. Verwendung von Modellierungsmethoden (z. B. multiple lineare Regression, Entscheidungsbaum,
Random Forest):
Zu finden in Woche 07, Aufgaben 1 und 2:
- Durchführung von linearer Regression und Analyse von Entscheidungsbäumen sowie Random
Forest.

### 6. Model evaluation

6.1 Model evaluation using suitable measures of fit (e.g. r-squared, rmse)
- Vorlesungunterlagen SWxxx, Slide XXX
- - Exercises SW7, Task 1-2


6. Modellevaluation (z. B. R-Quadrat, RMSE):
Zu finden in Woche 07, Aufgabe 1 (b, c):
- Evaluation der Modelle mithilfe von R-Quadrat und Residuen.

### 7. Interpretation

7.1 Correct interpretation of model results and measures of fit
- Vorlesungunterlagen SWxxx, Slide XXX
- Exercises SW7, Task 2


7. Korrekte Interpretation von Modellergebnissen und Gütemaßen:
Zu finden in Woche 07, Aufgaben 1 und 2:
- Interpretation der Ergebnisse in den Bereichen lineare Regression und Random Forest.


8. Bereitstellung der Materialien in Jupyter-Notebooks:
In allen Wochen enthalten:
- Jede Aufgabe verlangt die Einreichung von Jupyter-Notebooks als `.html`-Dateien mit
entsprechenden Erklärungen.

1. Kreativität der Umsetzung:
- Hängt davon ab, wie einzigartig und innovativ du die Aufgaben kombinierst und erweiterst.
2. Verwendung von MySQL- oder PostgreSQL-Datenbanken:
Zu finden in Woche 02, Aufgabe 4:
- Standardmäßig wird SQLite verwendet, die Anpassung auf MySQL/PostgreSQL könnte jedoch
Kreativität zeigen.
3. Integration und Visualisierung geografischer Daten:
Zu finden in Woche 05, Aufgaben 1 und 3:
- GIS-Funktionen und Analyse nächster Nachbarn.
4. Verwendung des Chi-Quadrat-Tests oder ANOVA:
Zu finden in Woche 06, Aufgaben 3 und 4:
- Aufgaben mit Fokus auf einseitige Varianzanalyse (ANOVA) und Chi-Quadrat-Tests.
5. Verwendung von mehr als einem Modell für Vorhersagen:
Zu finden in Woche 07, Aufgaben 1 und 2:
- Einsatz von mehreren Modellen wie linearer Regression und Random Forest.
Projektpräsentation in Videoform (Maximal 3 Punkte):
Die Präsentation sollte den Inhalt und die Struktur der oben genannten Aufgaben klar und
überzeugend darstellen.

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')